@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
}

body {
  /* background: url("../design/mobile-design.jpg") 0 0 / 100% auto no-repeat; */
  font-size: 18px;
}

main {
  height: 100vh;
}

:root {
  /* Primary colors */
  --linear-gradient-stop-1: hsl(249, 99%, 64%);
  --linear-gradient-stop-2: hsl(278, 94%, 30%);
  --red: hsl(0, 100%, 66%); /* Input erros */

  /* Neutral colors */
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}

/* Modelo do cartão de crédito frente e verso */
.model-card {
  background: url("../images/bg-main-mobile.png") 0 0 / 100% 100% no-repeat;
  display: flex;
  height: 240px;
  padding: 32px 16px;
  position: relative;
}

.model-card, .front-model-card {
  flex-direction: column;
}

.front-model-card, .back-model-card {
  background-size: 100% 108%;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 10px;
  color: var(--white);
  display: flex;
  height: 156px;
  width: 285px;
}

/* Frente do cartão */
.front-model-card {
  background-image: url("../images/bg-card-front.png");
  background-position: 0 0;
  justify-content: space-between;
  padding: 20px;
  /* margin-top: -62px; */
  bottom: -42px;
  z-index: 100;
}

.front-model-card__icon {
  align-self: flex-start;
  width: 52px;
  height: 29px;
}

.front-model-card__number {
  letter-spacing: 2.2px;
}

.card-name-date {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}

.card-name-date__name,
.card-name-date__validate {
  font-size: 0.70rem;
}

.card-name-date__name {
  text-transform: uppercase;
}

.card-name-date__validate {
  margin-right: 1px;
}

/* Fim frente do cartão */

/* Verso do cartão */
.back-model-card {
  align-self: flex-end;
  background-image: url("../images/bg-card-back.png");
  background-position: 0 -2px;
  order: -1;
}

.back-model-card__cvc {
  align-self: center;
  margin-left: auto;
  margin-right: 38px;
  margin-top: 5px;
  font-size: 0.72rem;
}
/* Fim verso do cartão */

/* Estilo formulário para cadastro do cartão de crédito */
.card-form {
  display: block;
}

.animOpacity0 {
  animation: .4s fadeOut linear;
}

.animOpacity1 {
  animation: .4s fadeIn linear forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.card-form, .thank {
  padding: 85px 24px;
}

.msg-erro {
  color: var(--red);
  display: none;
  font-size: 0.83rem;
  font-weight: bold;
  margin-top: 5px;
}

label[class$="label"] {
  color: var(--very-dark-violet);
  text-transform: uppercase;
  font-size: 0.83rem;
  letter-spacing: 1.2px;
}

input[class*="field"] {
  border: 1px solid var(--light-grayish-violet);
  background: transparent;
  color: var(--very-dark-violet);
  margin-top: 6px;
  border-radius: 7px;
  display: block;
  width: 100%;
  outline: none;
  padding: 12px 15px;
  padding-top: 14px;
  transition: 0.2s;
}

input.focus-ok:focus {
  box-shadow: 0 0 0 1px var(--linear-gradient-stop-1), 0 0 0 1px var(--linear-gradient-stop-2);
}

input.focus-error:focus {
  box-shadow: none;
  border-color: var(--red);
}

.borda-error {
  border: 2px solid var(--red)!important;
}

input[class*="field"]::placeholder {
  color: hsl(279, 6%, 75%);
  font-size: 1.12rem;
}

.card-number, .ends-fields {
  margin-top: 13px;
}

.ends-fields, .mes-year-field {
  display: flex;
}

.mes-year-validate {
  flex-basis: 50%;
}

.mes-year-field__mes, .mes-year-field__year {
  flex-basis: 50%;
}

.mes-year-field__year {
  margin-left: 7px;
}

.card-cvc {
  flex-basis: 54%;
}

.ends-fields {
  gap: 13px;
}

.card-form__button, .thank__button {
  background-color: var(--very-dark-violet);
  color: var(--white);
  display: block;
  font-size: 1.16rem;
  margin-top: 30px;
  padding: 15px;
  width: 100%;
  border-radius: 6px;
  transition: .2s;
}

.card-form__button:hover, .thank__button:hover {
  background-color: var(--linear-gradient-stop-1);
}

.card-form__button:active, .thank__button:active {
  background-color: var(--linear-gradient-stop-2);
}
/* Final formulário para cadastro do cartão de crédito */

/* Estilo agradecimento por cadastrar */
.thank {
  /* display: flex; */
  display: none;
  flex-direction: column;
  padding-top: 90px;
  text-align: center;
}

.thank-container {
  display: flex;
  flex-direction: column;
}

.thank__title {
  color: var(--very-dark-violet);
  text-transform: uppercase;
  font-size: 1.9rem;
  letter-spacing: 2px;
  margin-top: 34px;
}

.thank__icon {
  align-self: center;
  order: -1;
}

.thank__text {
  color: hsl(279, 6%, 75%);
  margin-top: 15px;
}

.thank__button {
  cursor: pointer;
  margin-top: 46px;
}

/* Rodapé */
.attribution {
  margin-top: 25px;
  font-size: 11px;
  text-align: center;
  width: 100%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
